<div *ngIf="selectedFlight">
  <h2>
    {{ selectedFlight.arrivalLocation }} -
    {{ selectedFlight.departureLocation }} Information
  </h2>
  <div><span>id: </span>{{ selectedFlight._id }}</div>
  <div>
    <label
      >Departure Airport:
      <input
        [(ngModel)]="selectedFlight.departureLocation"
        placeholder="departure airport"
      />
    </label>
  </div>
  <div>
    <label
      >Arrival Airport:
      <input
        [(ngModel)]="selectedFlight.arrivalLocation"
        placeholder="arrival airport"
      />
    </label>
  </div>
  <p>Departure Time: {{ selectedFlight.departureTime }}</p>
  <p>Arrival Time: {{ selectedFlight.arrivalTime }}</p>
  <p>Aircraft: {{ selectedFlight.aircraft }}</p>
  <p>Operator: {{ selectedFlight.operator }}</p>
  <p>Created By: {{ selectedFlight.createdBy }}</p>
</div>

<h2>Flight List</h2>
<ul class="flights">
  <li
    *ngFor="let flight of flights"
    (click)="onSelect(flight)"
    [class.selected]="flight === selectedFlight"
  >
    {{ flight.arrivalLocation }} - {{ flight.departureLocation }}
  </li>
</ul>
